{% load static %}
<div class="what_we_do_section layout_padding">
    <div class="container">
      <h1 class="what_taital">WHAT I DO</h1>
      <h3 class="what_text">
        Expert Financial Services Tailored to Your Needs
      </h3>
      <p>
        I specialize in offering expert advice across a wide range of financial services. From managing investments to ensuring you're on track for a secure retirement, I work closely with you to achieve your financial goals.
      </p>
      <div class="what_we_do_section_2">
        <div class="row">
        <div class="col-lg-3 col-sm-6">
          <div class="box_main">
            <div class="icon_1"><img src="{% static 'images/icon-1.png' %}"></div>
            <h3 class="accounting_text">Mortgage Advice</h3>
            <p class="lorem_text">
              Whether you're a first-time homebuyer or looking to refinance, I guide you through the mortgage process, helping you find the best options for your needs, and securing the best terms for your home loan.              </p>
            <div class="moremore_bt_1"><a href="{% url 'service_detail' id=1 %}">Read More</a></div>
            

          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="box_main active">
              <div class="icon_1"><img src="{% static 'images/icon-2.png' %}"></div>
              <h3 class="accounting_text">Financial Planning</h3>
            <p class="lorem_text">
              Comprehensive strategies to help you manage and grow your finances, both short-term and long-term, ensuring you're always on track to meet your financial objectives.
            </p>
            <div class="moremore_bt_1"><a href="{% url 'service_detail' id=2 %}">Read More</a></div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="box_main">
              <div class="icon_1"><img src="{% static 'images/icon-3.png' %}"></div>
              <h3 class="accounting_text">Investment Advice</h3>
            <p class="lorem_text">Grow your wealth with strategic and personalized investment plans tailored to your goals, risk tolerance, and time horizon.</p>
            <div class="moremore_bt_1"><a href="{% url 'service_detail' id=3 %}">Read More</a></div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="box_main">
              <div class="icon_1"><img src="{% static 'images/icon-4.png' %}"></div>
              <h3 class="accounting_text">Retirement Planning</h3>
            <p class="lorem_text">Secure a comfortable future by preparing for your retirement with well-structured plans that ensure you can enjoy the lifestyle you’ve worked hard for.</p>
            <div class="moremore_bt_1"><a href="{% url 'service_detail' id=4 %}">Read More</a></div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>