{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="header_section">
    <div class="header_left">
      {% include 'partials/_nav.html' %}
  </div>
</div>

<div class="services_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 class="services_taital">WELCOME TO FINANCIAL SERVICES</h1>
                <p class="services_text">
                    As an independent financial advisor, my mission is to provide you with clear, expert advice to help you make informed decisions about your finances. Whether you're looking to buy your first home, secure your retirement, or find the right investment strategy, I offer personalized solutions designed to meet your unique goals and aspirations.
                </p>
                <p class="services_text">
                    My vision is to become a trusted partner for individuals seeking financial security and long-term success. I aim to build lasting relationships with my clients by offering transparent, reliable, and tailored financial services. Together, we will craft a financial plan that empowers you to make smart decisions today, for a secure future tomorrow.
                </p>
                <div class="moremore_bt"><a href="#">Read More</a></div>
            </div>
            <div class="col-md-4">
                <div><img src="{% static 'images/img-1.png' %}" class="image_1"></div>
            </div>
        </div>
    </div>
</div>

<!-- About Section -->
<div class="about_section layout_padding">
    <div class="container">
        <h1 class="about_title">Our Mission and Vision</h1>
        <div class="row">
            <div class="col-md-6">
                <h3>Our Mission</h3>
                <p>
                    My mission is to provide expert financial advice that empowers you to take control of your financial future. I strive to create customized strategies that cater to your individual needs, whether you're planning for retirement, buying a home, or managing investments. By offering education, transparency, and a personalized approach, I aim to help you achieve your financial goals with confidence.
                </p>
            </div>
            <div class="col-md-6">
                <h3>Our Vision</h3>
                <p>
                    The vision is to be the most trusted and respected financial advisory service in the community, known for my commitment to honesty, integrity, and personalized attention. I believe everyone deserves a financially secure future, and my goal is to be your trusted partner in making that vision a reality. Through strong relationships and reliable advice, I will help you navigate your financial journey and build a secure future.
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
